<div>
  <!-- <mat-form-field
    class="w-100 dataset-form-full-width"
    style="margin-top: -1rem"
  >
    <mat-select
      (selectionChange)="onSelectionChange($event)"
      name="searchString"
    >
      <ngx-mat-select-search
        [(ngModel)]="searchString"
        name="search"
      ></ngx-mat-select-search>
      <mat-option *ngFor="let program of programs" [value]="program">
        {{ program.name }}
      </mat-option>
    </mat-select>
  </mat-form-field> -->

  <mat-tab-group
    [selectedIndex]="selectedTab.value"
    (selectedIndexChange)="selectedTab.setValue($event)"
  >
    <mat-tab label="Program section dataelements" (click)="changeTab($event, 0)">
      <div class="p-3" *ngIf="selectedTab.value == 0">
        <div class="programs">
          <app-selection-filter
            [options]="programs"
            (selectedItem)="onSelectItem($event, 'program')"
          ></app-selection-filter>
        </div>
        <div class="sections" *ngIf="programStageSections">
          <!-- programStageSections -->
          <app-selection-filter
            [options]="programStageSections"
            (selectedItem)="onSelectItem($event, 'section')"
          ></app-selection-filter>
          <!-- {{ currentProgramStageSections | json }} -->
        </div>
        <div *ngIf="selectedDataElements && selectedDataElements?.length > 0">
          <div class="row">
            <div class="col-12">
              <input placeholder="Search"
                class="form-control searching-input"
                [(ngModel)]="searchString"
              />
            </div>
            <div class="col-12">
              <div cdkDropListGroup>
                <div class="example-container">
                  <div
                    cdkDropList
                    [cdkDropListData]="
                      formattedListOfDataElements | filterByText: searchString
                    "
                    class="example-list"
                    (cdkDropListDropped)="drop($event)"
                  >
                    <div
                      class="example-box"
                      *ngFor="
                        let item of formattedListOfDataElements
                          | filterByText: searchString
                      "
                      cdkDrag
                    >
                      {{ item?.name }}
                    </div>
                  </div>
                </div>

                <div class="example-container">
                  <div
                    cdkDropList
                    [cdkDropListData]="selectedDataElements"
                    class="example-list"
                    (cdkDropListDropped)="drop($event)"
                  >
                    <div
                      class="example-box"
                      *ngFor="let item of selectedDataElements"
                      cdkDrag
                    >
                      {{ item?.name }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12" style="margin-top: 15px">
              <button
                [disabled]="
                  !selectedDataElements ||
                  selectedDataElements?.length == 0 ||
                  saving
                "
                mat-stroked-button
                class="mr-2 float-right"
                (click)="onSave($event)"
              >
                <mat-spinner
                  *ngIf="saving"
                  color="accent"
                  [diameter]="20"
                  style="display: inline-block !important; margin-right: 4px"
                >
                </mat-spinner>
                Save
              </button>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Program sections addition & arrangement" (click)="changeTab($event, 1)">
      <div class="p-3" *ngIf="selectedTab.value == 1">
        <div class="programs">
          <app-selection-filter
            [options]="programs"
            (selectedItem)="onSelectProgram($event, 'add-section')"
          ></app-selection-filter>
        </div>

        <div style="min-height: 20px;max-height: 450px; overflow: auto" *ngIf="selectedProgram">
          <!-- <ul>
            <li
              *ngFor="let section of programStageSections"
            >
              {{ section?.name }}
            </li>
          </ul> -->

          <div cdkDropListGroup style="width: 90% !important">
            <div class="example-container" style="width: 90% !important">
              <div
                cdkDropList
                [cdkDropListData]="
                programStageSections
                "
                class="example-list"
                style="width: 90% !important"
                (cdkDropListDropped)="drop($event)"
              >
                <div
                  class="example-box"
                  *ngFor="
                    let item of programStageSections
                  "
                  cdkDrag
                >
                  {{ item?.name }}
                </div>
              </div>
            </div>
            </div>
        </div>

        <div style="margin-bottom: 30px;" *ngIf="selectedProgram">
          <button
          style="margin: 15px 0 !important"
          [disabled]="saving"
          mat-stroked-button
          class="mr-2 float-left"
          (click)="onSaveSectionArrangements($event)"
        >
          <mat-spinner
            *ngIf="saving"
            color="accent"
            [diameter]="20"
            style="display: inline-block !important; margin-right: 4px"
          >
          </mat-spinner>
          Save sections arrangement
        </button>
        </div>

        
        <div *ngIf="selectedProgram">
          <div class="h3 text-left p-3">
            Add program section
          </div>
          <div class="p-3">
            <input placeholder="Name"
            [(ngModel)]="name"
            class="form-control"
            style="margin-top: 15px"
          />
          <input placeholder="Description"
            [(ngModel)]="description"
            class="form-control"
            style="margin-top: 15px"
          />
          </div>
        </div>
        <button *ngIf="name"
          style="margin-top: 15px"
          [disabled]="saving || !selectedProgram || name?.length < 3"
          mat-stroked-button
          class="mr-2 float-right"
          (click)="onSaveProgramSection($event)"
        >
          <mat-spinner
            *ngIf="saving"
            color="accent"
            [diameter]="20"
            style="display: inline-block !important; margin-right: 4px"
          >
          </mat-spinner>
          Save
        </button>
      </div>
    </mat-tab>
    <mat-tab
      label="Manage program indicators by sections"
      (click)="changeTab($event, 2)"
    >
      <div class="p-3" *ngIf="selectedTab.value == 2">
        
        <div class="programs">
          <app-selection-filter
            [options]="programs"
            (selectedItem)="onSelectProgram($event, 'datastore')"
          ></app-selection-filter>
        </div>

        <div class="sections">
          <app-selection-filter
            [options]="selectedProgram?.programStages[0]?.programStageSections"
            (selectedItem)="onSelectConfigSection($event)"
          ></app-selection-filter>
        </div>
        

        <div *ngIf="currentProgramStageSection">
          <input placeholder="Search"
                class="form-control searching-input"
                [(ngModel)]="searchString"
              />
          <div cdkDropListGroup>
            <div class="example-container">
              <div
                cdkDropList
                [cdkDropListData]="
                allIndicators | filterByText: searchString
                "
                class="example-list"
                (cdkDropListDropped)="drop($event)"
              >
                <div
                  class="example-box"
                  *ngFor="
                    let item of allIndicators
                      | filterByText: searchString
                  "
                  cdkDrag
                >
                  {{ item?.name }}
                </div>
              </div>
            </div>

            <div class="example-container">
              <div
                cdkDropList
                [cdkDropListData]="currentSectionIndicators"
                class="example-list"
                (cdkDropListDropped)="drop($event)"
              >
                <div
                  class="example-box"
                  *ngFor="let item of currentSectionIndicators"
                  cdkDrag
                >
                  {{ item?.name }}
                </div>
              </div>
            </div>
          </div>

        <button
          style="margin-top: 15px"
          [disabled]="saving"
          mat-stroked-button
          class="mr-2 float-right"
          (click)="onSaveDataStoreConfigs($event)"
        >
          <mat-spinner
            *ngIf="saving"
            color="accent"
            [diameter]="20"
            style="display: inline-block !important; margin-right: 4px"
          >
          </mat-spinner>
          Save
        </button>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
